{% extends "reminder/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load compress %}
{% block extrastyle %}
	{% compress css %}
	<link rel="stylesheet" href="{% static "reminder/less/home.less" %}" type="text/less">
	{% endcompress %}
{% endblock extrastyle %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<form action="." method="post">
				{% csrf_token %}
				{% bootstrap_form form %}
				<input type="hidden" name="next" value="{% if next == '' %}{% url 'dashboard' %}{% else %}{{next}}{% endif %}" />
				{% buttons %}
				<div class="text-center">	
				<div class="btn-group" role="group">			
					<button type="submit" class="btn btn-primary">
							<i class="material-icons">launch</i><span class="icon-text">Log In</span>
					</button>
				</div>
				</div>
				{% endbuttons %}
			</form>
			<div class="extra_links">
				<div class="col-xs-12 col-sm-6 text-center">
					<a href="{% url 'auth_password_reset' %}">Forgot your password ?</a>
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					<a href="{% url 'registration_register' %}">Register Now !</a>
				</div>
			</div>
		</div>		
	</div>
</body>
</html>
{% endblock content %}