{% extends "reminder/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
	<div id="registration-complete" class="row">
		<div class="col-xs-12">
		<p>			
			A new activation link has been resent to your email address. Please check your email and click the link to activate your account. 
		</p>
		<p>
			<strong>Be sure to check your Spam folder for the activation Email if it does not appear in your inbox.</strong>
		</p>
		<p>
			If in a few minutes you have not recieved the activation link, please go to this page to resend an activation link : 
		</p>
		<p>
			<a href="{% url 'registration_resend' %}">Resend Activation Link</a>
		</p>
		</div>
	</div>
{% endblock content %}
