{% load static %}
{% load compress %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
    <meta name="description" content="">
    <meta name="author" content="">
    {#  @TODO #}
   
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "reminder/icons/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" href="{% static "reminder/icons/favicon-32x32.png" %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static "reminder/icons/favicon-16x16.png" %}" sizes="16x16">
	<link rel="manifest" href="{% static "reminder/icons/manifest.json" %}">
	<link rel="mask-icon" href="{% static "reminder/icons/safari-pinned-tab.svg" %}" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	
	<title>VisualReminder {% block extratitle %}{% endblock extratitle %}
	</title>
	{% bootstrap_css %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% compress css %}
    <link rel="stylesheet" href="{% static "reminder/less/base.less" %}" type="text/less">
    {% endcompress %}
    {% block extrastyle %}
    {% endblock extrastyle %}

	{% block extrahead %}
		
	{% endblock extrahead %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{# 	<!-- Fixed navbar --> #}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="
          {% if user.is_authenticated %}
          	{% url 'dashboard' %}
          {% else %}	
          	{% url 'home' %}
      	  {% endif %}">Visual Reminder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.resolver_match.view_name == 'home' %}active{% endif %}"><a href="{% url 'home' %}"><i class="material-icons">home</i><span class="icon-text">Home</span></a></li>

            {# Non logged in users #}

            {% if not user.is_authenticated %}
            <li class="{% if request.resolver_match.view_name == 'auth_login' %}active{% endif %}"><a href="{% url 'auth_login' %}"><i class="material-icons">launch</i><span class="icon-text">Log In</span></a></li>
            <li class="{% if request.resolver_match.view_name == 'registration_register' %}active{% endif %}"><a href="{% url 'registration_register' %}"><i class="material-icons">account_circle</i><span class="icon-text">Register</span></a></li>

            {% else %}
            {# Logged in users #}
            <li class="{% if request.resolver_match.view_name == 'dashboard' %}active{% endif %}"><a href="{% url 'dashboard' %}"><i class="material-icons">dashboard</i><span class="icon-text">Dashboard</span></a></li>
            <li class="{% if request.resolver_match.view_name == 'profile' %}active{% endif %}"><a href="{% url 'profile' %}"><i class="material-icons">account_circle</i><span class="icon-text">Profile</span></a></li>
            <li class="{% if request.resolver_match.view_name == 'logout' %}active{% endif %}"><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i><span class="icon-text">Log Off</span></a></li>	
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
	{% bootstrap_messages %}
	{% block content %}
		
	{% endblock content %}
    </div>
    <footer class="footer">
    	<div class="container">
        <div class="col-xs-12 col-sm-6">
          <p>Application designed and coded by Gaël Le Bon</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          
          <p>This application was created as part of a technical project for <a href="http://www.formation-isfac.com/">ISFAC</a>.</p>
        </div>
      </div>
    </footer>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	{% bootstrap_javascript %}
	{% block extrascript %}
		
	{% endblock extrascript %}
</body>
</html>