{% extends "reminder/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load compress %}

{% block extrastyle %}$
	{% compress css %}
	<link rel="stylesheet" href="{% static "reminder/less/home.less" %}" type="text/less">
	{% endcompress %}
{% endblock extrastyle %}

{% block extratitle %}
	{{block.super}}- Home
{% endblock extratitle %}


{% block content %}
	{% if not user.is_authenticated %}
	<div id="login-form" class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<form action="." method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
				{% buttons %}
				<div class="text-center">					
					<div class="btn-group" role="group">			
						<button type="submit" class="btn btn-primary">
							<i class="material-icons">launch</i><span class="icon-text">Log In</span>
						</button>
					</div>
				</div>
				{% endbuttons %}
			</form>
			<div class="extra_links">
				<div class="col-xs-12 col-sm-6 text-center">
					<a href="{% url 'auth_password_reset' %}">Forgot your password ?</a>
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					<a href="{% url 'registration_register' %}">Register Now !</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div id="home-img" class="row" {% if user.is_authenticated %}style="margin-top:-13px;"{% endif %}>
		<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">		
			<img class="img-responsive home-img" src="{% static "reminder/img/mail_big.png" %}" alt="logo">			
		</div>
	</div>
	<div id="about" class="row">
		<div class="container">
			<h1 class="text-center">Welcome to Visual Reminder</h1>
			<hr>
			<p>Have you ever thought about doing something and then forgot about it five minutes later ?</p>
			<p> Or maybe you often hear "Send me an email !" Sadly, we often forget to send it or don't remember what the contents were.</p>
			<p>Fear not, Visual Reminder is here.</p>
			<p>This lightweight application lets you program a reminder, and sends it the the email address of your choice at the time you choose.</p>
			<p>Visual Reminder is usable on mobile as well as on desktop, making it great for any situation. Just whip up your phone and program that reminder.</p>
		</div>
	</div>
	<div id="faq" class="row">
		<div class="container">
			<h2 class="text-center">F.A.Q.</h2>
			<p><strong>Q: </strong>I can't login. PLZ HALP MEEE !</p>
			<p><strong>A: </strong>That's not a question. If you have forgotten your password, try to <a href="{% url 'auth_password_reset' %}">reset it</a>, if your account is not active and you have lost the activation email, please use the <a href="{% url 'registration_resend' %}">resend activation key</a> link.</p>
			<hr>
			<p><strong>Q: </strong>I have not received the activation email, where can I find it ?</p>
			<p><strong>A: </strong>Check your SPAM folder. If you have not received the email after a few minutes use the <a href="{% url 'registration_resend' %}">resend activation key</a> link.</p>
			<hr>
			<p><strong>Q: </strong>Is Visual Reminder free to use ?</p>
			<p><strong>A: </strong>YES !</p>
			<hr>
			<p><strong>Q: </strong>How many reminders can I send ?</p>
			<p><strong>A: </strong>You can program up to 5 reminders to be sent on a single day. Once you've reached the 5 limit for a day, you can still program reminders for other days.</p>
			<hr>
			<p><strong>Q: </strong>Until when can I program my reminders ?</p>
			<p><strong>A: </strong>You can program a reminder to be sent up to 365 days from now ! Also, we can not send reminders into the past, that feature has not been coded yet.</p>
			<hr>
			<p><strong>Q: </strong>This app is great !</p>
			<p><strong>A: </strong>Again, that's not a question. We're glad you like it. If you want to support the developement of new features, there's no way to make that happen. go donate to a charity.</p>
			<hr>
			<p><strong>Q: </strong>Ponies are awesome !</p>
			<p><strong>A: </strong>(Yes ! We know !)</p>
		</div>
	</div>

{% endblock content %}
