{% extends "reminder/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}	
<div id="profile-delete" class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
		<form action="." method="post">
			{% csrf_token %}
			<div class="text-center">
			{% bootstrap_form form %}
			{% buttons %}
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-danger">
						<i class="material-icons">delete_forever</i><span class="icon-text">Delete Account</span>
					</button>
					<a href="{% url 'profile' %}" class="btn btn-warning"><i class="material-icons">cancel</i><span class="icon-text">Cancel</span></a>
				</div>
			</div>
			{% endbuttons %}
		</form>
	</div>
</div>
{% endblock content %}