{% extends "reminder/base.html" %}

{% block content %}
	<div id="user-profile" class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
			<p>Your profile information will be sent along with your reminders. Take care the recipients will be able to recognize you with this information.</p>
			<div class="text-center">				
				<p><strong>Email : </strong>{{username}}</p>
				<p><strong>First Name :</strong> {{first_name}}</p>
				<p><strong>Last Name :</strong> {{last_name}}</p>
			</div>
			<div class="btn-group-vertical visible-xs" role="group">
				<a href="{% url 'profile_edit' %}" class="btn btn-primary"><i class="material-icons">edit</i><span class="text-icon">Edit Profile</span></a>
				<a href="{% url 'auth_password_change' %}" class="btn btn-warning"><i class="material-icons">edit</i><span class="text-icon">Change Password</span></a>
				<a href="{% url 'profile_delete' %}" class="btn btn-danger"><i class="material-icons">delete_forever</i><span class="icon-text">Delete Account</span></a>
			</div>
			<div class="text-center">				
				<div class="btn-group hidden-xs" role="group">
					<a href="{% url 'profile_edit' %}" class="btn btn-primary"><i class="material-icons">edit</i><span class="text-icon">Edit Profile</span></a>
					<a href="{% url 'auth_password_change' %}" class="btn btn-warning"><i class="material-icons">edit</i><span class="text-icon">Change Password</span></a>
					<a href="{% url 'profile_delete' %}" class="btn btn-danger"><i class="material-icons">delete_forever</i><span class="icon-text">Delete Account</span></a>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}