{% extends "reminder/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static "datebox/css/jtsage-datebox.min.css" %}">
	{# @TODO Style Datebox #}
{% endblock extrahead %}

{% block content %}
	<div id="reminder-creation" class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<form action="." method="post" class="form">
			{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
				<div class="text-center">					
					<div class="btn-group" role="group">			
						<button type="submit" class="btn btn-primary">
							{% block reminder_button_text %}
								<i class="material-icons">add_circle</i><span class="icon-text">Create</span>
							{% endblock reminder_button_text %}
						</button>
						<a href="{% url 'dashboard' %}" class="btn btn-warning">
							<i class="material-icons">cancel</i><span class="icon-text">Cancel</span>
						</a>
					</div>
				</div>

				{% endbuttons %}
			</form>
		</div>
	</div>
{% endblock content %}

{% block extrascript %}
	<script type='text/javascript' src='{% static 'js/jquery-ui.min.js' %}'></script>
	<script type='text/javascript' src='{% static 'jquery-mousewheel/js/jquery-mousewheel.min.js' %}'></script>
	<script type='text/javascript' src='{% static 'datebox/js/jtsage-datebox.min.js' %}'></script>
{% endblock %}
