@import (less) "includes.less";

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#login-form{
	box-shadow: inset 0px -5px 5px @color_divider;
	padding-bottom: 15px;
}

#about,
#home-img{
	background: @color_primary_light;
	padding: 10px 0;
}

.home-img{
	width: 70%;
	margin: auto;
}

p{
	color: @color_text_secondary;
}

p>strong{
	color:@color_text_primary;
}

#faq{
	box-shadow: inset 0px 5px 5px @color_divider;
	padding-top: 10px;
}

h2{
	font-size: 1.5em;
	color: @color_text_primary;
	margin-bottom: 20px;
}

hr{
	border-color: @color_divider;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}